* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);
    gap: 4px;
    width: fit-content;
    margin: 40px auto;
    background: #eeeeeede;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 40px;
    height: 40px;
    background: #cfcfcf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
}

.cell.invalid {
    background: transparent;
    border: none;
    pointer-events: none;
}

.disc {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #333;
    border: 2px solid #222;
}

.disc.empty {
    background: #fff;
    border: 2px dashed #aaa;
}

.selected {
    border: 2px solid salmon;
}
